/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
.env
/public/manifest.json
/public/dll-info.json
/public/dll-manifest.json
/public/css
/public/js
/public/fonts
/public/images
