@import './layout-variables.less';

.navbar-fixed-top {
    z-index: auto;
}

.normal-site-header {
    .header-navbar {
        background-color: #fff;
        z-index: 1000;
        height: @header-height;

        .header-brand {
            display: block;
            padding: 0;
            float: left;
            height: @header-height;
            line-height: @header-height;
            font-size: 22px;
        }

        .header-search {
            display: block;
            overflow: hidden;

            margin: 0;
            height: @header-height;

            padding: 12px;

            input.form-control {
                width: 100%;
                height: @search-height;
                font-size: 18px;

                border-radius: 0;
                box-shadow: unset;
            }
        }

        .header-link-list {
            display: block;
            float: right;
            height: @header-height;
            line-height: @header-height;

            .header-link {
                margin: 0;
                margin-left: 40px;
                font-size: 18px;
                text-decoration: none;
            }

            .header-link:first-child {
                margin-left: 20px;
            }

            .header-message {
                margin: 0;
                margin-left: 40px;
                height: @header-height;
                line-height: @header-height;

                span {
                    font-size: 32px;
                    margin: 0;
                    margin-top: 14px;
                }
            }
        }


        @media (min-width: 768px) {
            .navbar-brand {
                margin-left: 0!important;
            }

            .navbar-right {
                margin-right: 0!important;
            }
        }

        @media(max-width: 768px) {
            .navbar-right {
                float: right;
            }
        }
    }
}
