@import '../common/entry-common';
@import '../common/header';
@import '../common/main';
@import '../common/photo';

.home-container {
    width: 100%;
    min-height: 100vh;
    padding: 0 50px;
    background-color: #fff;
    overflow: auto;
}

.photo-masonry {
    margin: 0 auto;
    width: 100%;

    .photo-sizer {
        width: 236px;
    }

    .photo-gutter {
        width: 24px;
    }

    .photo-wrapper {
        float: left;
        width: 236px;
        margin-bottom: 16px;
    }

    &::after {
        content: ' ';
        display: block;
        clear: both;
    }
}
