@import '../common/entry-common';
@import '../common/header';
@import '../common/main';

.user-container {
    margin: 0 auto;
    max-width: 1024px;
    padding: 0 50px;
    background-color: #fff;
}

.info-panel {
    padding-right: 12px;
    background-color: #eee;
}

.user-info {
    .user-name {
        font-size: 16px;
    }
}

.relationship {
    font-size: 14px;

    .following,
    .followed-by {
        text-align: center;
    }

    .followed-by {
        border-right: 1px solid #ccc;
    }

    .follow {
        text-align: center;

        .follow-btn {
            width: 82px;
        }
    }
}
