@import '../common/entry-common';
@import '../common/header';
@import '../common/main';

.user-container {
    width: 100%;
    padding: 0 50px;
    background-color: #fff;
}

.user-name {
    font-size: 16px;
}

.follow-btn {
    width: 82px;
}
